<header>
    <mat-toolbar class="toolbar">
        <span> Estacionamentos </span>
        <span class="spacer"></span>
        <nav class="toolbar">
            <a mat-button routerLink="/companies"> 
                <mat-icon aria-hidden="false" aria-label="home icon" fontIcon="home">home</mat-icon>
                <span> Empresas </span>
            </a>
            <a mat-button routerLink="/vehicles"> 
                <mat-icon aria-hidden="false" aria-label="car icon" fontIcon="directions_car"> directions_car </mat-icon>
                <span> Veículos </span>
            </a>
        </nav>
    </mat-toolbar>  
</header>
