.main-view {
    height: calc(93vh - 64px);
    display: flex;
    justify-content: center;
}

table {
    width: 100%;
}

.table {
    margin-top: 3vh;
    margin-bottom: 3vh;
    width: 75%;
    display: flex;
    flex-direction: column;
}

.actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.actions button {
    margin-left: 5rem;
}

.action-btns {
    display: flex;
    align-items: center;
    justify-content: space-around;
}